In [2]:
import pandas as pd

In [4]:
# load in final merged dataset
df = pd.read_csv('Totaldata_Jul_05.csv', encoding = "ISO-8859-1" )

In [5]:
df.shape

(18864, 64)

In [6]:
df.columns

Index(['Unnamed: 0', 'ID', 'AGEGRP', 'FIPS_x', 'YEAR', 'STATE', 'COUNTY',
       'STNAME', 'CTYNAME', 'AA_FEMALE', 'AA_MALE', 'BA_FEMALE', 'BA_MALE',
       'H_FEMALE', 'H_MALE', 'IA_FEMALE', 'IA_MALE', 'NA_FEMALE', 'NA_MALE',
       'SUMLEV', 'TOT_FEMALE', 'TOT_MALE', 'TOT_POP', 'WA_FEMALE', 'WA_MALE',
       'TOT_POP_LESS19', 'TOT_MALE_LESS19', 'TOT_FEMALE_LESS19',
       'TOT_POP_20to39', 'TOT_MALE_20to39', 'TOT_FEMALE_20to39',
       'TOT_POP_40to59', 'TOT_MALE_40to59', 'TOT_FEMALE_40to59',
       'TOT_POP_Above60', 'TOT_MALE_Above60', 'TOT_FEMALE_Above60',
       'republican_candidate', 'democrat_candidate', 'republican_votes',
       'democrat_votes', 'county_totalvotes', 'winning candidate',
       'winning party', 'avg_wage_salary', 'AA_FEMALE%', 'AA_MALE%',
       'BA_FEMALE%', 'BA_MALE%', 'H_FEMALE%', 'H_MALE%', 'IA_FEMALE%',
       'IA_MALE%', 'NA_FEMALE%', 'NA_MALE%', 'WA_FEMALE%', 'WA_MALE%',
       'TOT_FEMALE%', 'TOT_MALE%', 'TOT_POP_LESS19%', 'TOT_POP_20to39%',
       'TOT_POP_40to59%', 'TOT_POP_Above60%', 'Unemployment_Rate'],
      dtype='object')

In [7]:
df.isnull().sum(axis = 0)

Unnamed: 0                 0
ID                         0
AGEGRP                     0
FIPS_x                     0
YEAR                       0
STATE                      0
COUNTY                     0
STNAME                     0
CTYNAME                    0
AA_FEMALE                  0
AA_MALE                    0
BA_FEMALE                  0
BA_MALE                    0
H_FEMALE                   0
H_MALE                     0
IA_FEMALE                  0
IA_MALE                    0
NA_FEMALE                  0
NA_MALE                    0
SUMLEV                     0
TOT_FEMALE                 0
TOT_MALE                   0
TOT_POP                    0
WA_FEMALE                  0
WA_MALE                    0
TOT_POP_LESS19             0
TOT_MALE_LESS19            0
TOT_FEMALE_LESS19          0
TOT_POP_20to39             0
TOT_MALE_20to39            0
                        ...
TOT_POP_Above60            0
TOT_MALE_Above60           0
TOT_FEMALE_Above60         0
republican_candidate    3287
democrat_candidate      3287
republican_votes        3287
democrat_votes          3287
county_totalvotes       3287
winning candidate       3287
winning party           3287
avg_wage_salary         3287
AA_FEMALE%                 0
AA_MALE%                   0
BA_FEMALE%                 0
BA_MALE%                   0
H_FEMALE%                  0
H_MALE%                    0
IA_FEMALE%                 0
IA_MALE%                   0
NA_FEMALE%                 0
NA_MALE%                   0
WA_FEMALE%                 0
WA_MALE%                   0
TOT_FEMALE%                0
TOT_MALE%                  0
TOT_POP_LESS19%            0
TOT_POP_20to39%            0
TOT_POP_40to59%            0
TOT_POP_Above60%           0
Unemployment_Rate         24
Length: 64, dtype: int64

In [10]:
#Removing 2020 Data as it has null values
df = df[df.YEAR != 2020]
df.isnull().sum(axis = 0)

Unnamed: 0                0
ID                        0
AGEGRP                    0
FIPS_x                    0
YEAR                      0
STATE                     0
COUNTY                    0
STNAME                    0
CTYNAME                   0
AA_FEMALE                 0
AA_MALE                   0
BA_FEMALE                 0
BA_MALE                   0
H_FEMALE                  0
H_MALE                    0
IA_FEMALE                 0
IA_MALE                   0
NA_FEMALE                 0
NA_MALE                   0
SUMLEV                    0
TOT_FEMALE                0
TOT_MALE                  0
TOT_POP                   0
WA_FEMALE                 0
WA_MALE                   0
TOT_POP_LESS19            0
TOT_MALE_LESS19           0
TOT_FEMALE_LESS19         0
TOT_POP_20to39            0
TOT_MALE_20to39           0
                       ...
TOT_POP_Above60           0
TOT_MALE_Above60          0
TOT_FEMALE_Above60        0
republican_candidate    138
democrat_candidate      138
republican_votes        138
democrat_votes          138
county_totalvotes       138
winning candidate       138
winning party           138
avg_wage_salary         138
AA_FEMALE%                0
AA_MALE%                  0
BA_FEMALE%                0
BA_MALE%                  0
H_FEMALE%                 0
H_MALE%                   0
IA_FEMALE%                0
IA_MALE%                  0
NA_FEMALE%                0
NA_MALE%                  0
WA_FEMALE%                0
WA_MALE%                  0
TOT_FEMALE%               0
TOT_MALE%                 0
TOT_POP_LESS19%           0
TOT_POP_20to39%           0
TOT_POP_40to59%           0
TOT_POP_Above60%          0
Unemployment_Rate        16
Length: 64, dtype: int64

In [14]:
df_2000 = df[df.YEAR == 2000]
df_2000.isnull().sum(axis = 0)

Unnamed: 0               0
ID                       0
AGEGRP                   0
FIPS_x                   0
YEAR                     0
STATE                    0
COUNTY                   0
STNAME                   0
CTYNAME                  0
AA_FEMALE                0
AA_MALE                  0
BA_FEMALE                0
BA_MALE                  0
H_FEMALE                 0
H_MALE                   0
IA_FEMALE                0
IA_MALE                  0
NA_FEMALE                0
NA_MALE                  0
SUMLEV                   0
TOT_FEMALE               0
TOT_MALE                 0
TOT_POP                  0
WA_FEMALE                0
WA_MALE                  0
TOT_POP_LESS19           0
TOT_MALE_LESS19          0
TOT_FEMALE_LESS19        0
TOT_POP_20to39           0
TOT_MALE_20to39          0
                        ..
TOT_POP_Above60          0
TOT_MALE_Above60         0
TOT_FEMALE_Above60       0
republican_candidate    28
democrat_candidate      28
republican_votes        28
democrat_votes          28
county_totalvotes       28
winning candidate       28
winning party           28
avg_wage_salary         28
AA_FEMALE%               0
AA_MALE%                 0
BA_FEMALE%               0
BA_MALE%                 0
H_FEMALE%                0
H_MALE%                  0
IA_FEMALE%               0
IA_MALE%                 0
NA_FEMALE%               0
NA_MALE%                 0
WA_FEMALE%               0
WA_MALE%                 0
TOT_FEMALE%              0
TOT_MALE%                0
TOT_POP_LESS19%          0
TOT_POP_20to39%          0
TOT_POP_40to59%          0
TOT_POP_Above60%         0
Unemployment_Rate        4
Length: 64, dtype: int64

In [15]:
data_null = df_2000[df_2000.isnull().any(axis=1)]
data_null

,Unnamed: 0,ID,AGEGRP,FIPS_x,YEAR,STATE,COUNTY,STNAME,CTYNAME,AA_FEMALE,...,NA_MALE%,WA_FEMALE%,WA_MALE%,TOT_FEMALE%,TOT_MALE%,TOT_POP_LESS19%,TOT_POP_20to39%,TOT_POP_40to59%,TOT_POP_Above60%,Unemployment_Rate
9731,9731,200015005,Total,15005,2000,15,5,Hawaii,Kalawao County,11,...,0.244898,0.176871,0.142857,0.503401,0.496599,0.020408,0.122449,0.414966,0.442177,NaN
10179,10179,20002050,Total,2050,2000,2,50,Alaska,Bethel Census Area,78,...,0.000436,0.054468,0.073476,0.468777,0.531223,0.428830,0.282812,0.215879,0.072479,9.0
10180,10180,20002060,Total,2060,2000,2,60,Alaska,Bristol Bay Borough,4,...,0.000795,0.231320,0.297297,0.455485,0.544515,0.337043,0.255962,0.337043,0.069952,6.4
10181,10181,20002068,Total,2068,2000,2,68,Alaska,Denali Borough,19,...,0.001585,0.361859,0.512414,0.418384,0.581616,0.256207,0.287375,0.391970,0.064448,7.3
10182,10182,20002070,Total,2070,2000,2,70,Alaska,Dillingham Census Area,16,...,0.000203,0.101991,0.121292,0.478464,0.521536,0.406745,0.261073,0.248883,0.083299,7.4
10183,10183,20002090,Total,2090,2000,2,90,Alaska,Fairbanks North Star Borough,1059,...,0.001545,0.372895,0.425135,0.478328,0.521672,0.333197,0.338109,0.259351,0.069343,6.2
10184,10184,20002100,Total,2100,2000,2,100,Alaska,Haines Borough,8,...,0.000418,0.401338,0.429348,0.493729,0.506271,0.272993,0.214465,0.369983,0.142559,8.1
10210,10210,20002105,Total,2105,2000,2,105,Alaska,Hoonah-Angoon Census Area,6,...,0.000777,0.205905,0.273893,0.456876,0.543124,0.315074,0.236597,0.332945,0.115385,8.1
10236,10236,20002110,Total,2110,2000,2,110,Alaska,Juneau City and Borough,782,...,0.002312,0.374414,0.387181,0.496255,0.503745,0.299603,0.285240,0.324485,0.090672,4.7
10297,10297,20002122,Total,2122,2000,2,122,Alaska,Kenai Peninsula Borough,306,...,0.000926,0.419906,0.454633,0.479677,0.520323,0.325026,0.239869,0.328166,0.106939,8.3
10308,10308,20002130,Total,2130,2000,2,130,Alaska,Ketchikan Gateway Borough,335,...,0.000782,0.362441,0.387736,0.489484,0.510516,0.308086,0.267017,0.311781,0.113116,6.3
10309,10309,20002150,Total,2150,2000,2,150,Alaska,Kodiak Island Borough,1082,...,0.004455,0.292613,0.336663,0.470753,0.529247,0.348951,0.306841,0.272061,0.072147,8.4
10310,10310,20002164,Total,2164,2000,2,164,Alaska,Lake and Peninsula Borough,1,...,0.002194,0.087219,0.107515,0.468459,0.531541,0.412507,0.232584,0.270433,0.084476,5.2
10311,10311,20002170,Total,2170,2000,2,170,Alaska,Matanuska-Susitna Borough,298,...,0.000708,0.423632,0.464631,0.480394,0.519606,0.348967,0.253279,0.309687,0.088068,7.3
10312,10312,20002180,Total,2180,2000,2,180,Alaska,Nome Census Area,34,...,0.000109,0.083623,0.112331,0.459656,0.540344,0.400283,0.277512,0.238582,0.083623,9.7
10313,10313,20002185,Total,2185,2000,2,185,Alaska,North Slope Borough,228,...,0.004875,0.075017,0.101422,0.470548,0.529452,0.415843,0.275423,0.243602,0.065132,8.5
10314,10314,20002188,Total,2188,2000,2,188,Alaska,Northwest Arctic Borough,32,...,0.000277,0.051054,0.075472,0.466287,0.533713,0.446865,0.281354,0.201720,0.070061,9.1
10315,10315,20002195,Total,2195,2000,2,195,Alaska,Petersburg Census Area,50,...,0.000705,0.352209,0.391212,0.476739,0.523261,0.319549,0.244831,0.321898,0.113722,9.1
10316,10316,20002198,Total,2198,2000,2,198,Alaska,Prince of Wales-Hyder Census Area,11,...,0.000163,0.229752,0.306009,0.454115,0.545885,0.334259,0.255225,0.318256,0.092260,9.1
10381,10381,20002220,Total,2220,2000,2,220,Alaska,Sitka City and Borough,195,...,0.002151,0.332088,0.364686,0.490096,0.509904,0.300283,0.278551,0.297114,0.124052,4.8
10382,10382,20002230,Total,2230,2000,2,230,Alaska,Skagway Municipality,3,...,0.002326,0.448837,0.482558,0.477907,0.522093,0.212791,0.303488,0.360465,0.123256,4.8
10383,10383,20002240,Total,2240,2000,2,240,Alaska,Southeast Fairbanks Census Area,39,...,0.000648,0.381438,0.421607,0.482669,0.517331,0.356009,0.236638,0.304179,0.103175,12.4
10384,10384,20002261,Total,2261,2000,2,261,Alaska,Valdez-Cordova Census Area,186,...,0.000981,0.354193,0.419421,0.467582,0.532418,0.319372,0.249240,0.340853,0.090535,7.7
10385,10385,20002270,Total,2270,2000,2,270,Alaska,Wade Hampton Census Area,4,...,0.000142,0.020347,0.027604,0.478372,0.521628,0.500000,0.257826,0.171315,0.070859,NaN
10386,10386,20002275,Total,2275,2000,2,275,Alaska,Wrangell City and Borough,10,...,0.000816,0.352365,0.397227,0.485318,0.514682,0.303426,0.202284,0.329935,0.164356,7.7
10387,10387,20002282,Total,2282,2000,2,282,Alaska,Yakutat City and Borough,5,...,0.001238,0.173267,0.330446,0.407178,0.592822,0.301980,0.247525,0.361386,0.089109,7.0
10388,10388,20002290,Total,2290,2000,2,290,Alaska,Yukon-Koyukuk Census Area,17,...,0.000461,0.109063,0.139017,0.457911,0.542089,0.380952,0.241475,0.275269,0.102304,11.6
11644,11644,200046113,Total,46113,2000,46,113,South Dakota,Shannon County,1,...,0.000321,0.024065,0.022862,0.501043,0.498957,0.490454,0.267367,0.169501,0.072678,NaN
12218,12218,200051515,Total,51515,2000,51,515,Virginia,Bedford city,16,...,0.000467,0.403831,0.354773,0.529045,0.470955,0.234231,0.242174,0.239059,0.284535,NaN
12510,12510,20008014,Total,8014,2000,8,14,Colorado,Broomfield County,841,...,0.000204,0.460563,0.465308,0.497245,0.502755,0.316387,0.314958,0.276134,0.092521,2.4