In [93]:
import pandas as pd
import glob
import os

In [94]:
path = os.getcwd()
path

'C:\\Users\\nerella\\Desktop\\Ahana Study Materials - 2020\\Capstone\\County Data 2000-2010\\Test Dataset'

In [95]:
#Does not include File35
#https://www2.census.gov/programs-surveys/popest/datasets/2000-2010/intercensal/county/
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [96]:
frame.shape

(808600, 23)

In [97]:
frame.head()

,AA_FEMALE,AA_MALE,AGEGRP,BA_FEMALE,BA_MALE,COUNTY,CTYNAME,FIPStxt,H_FEMALE,H_MALE,...,NA_MALE,STATE,STNAME,SUMLEV,TOT_FEMALE,TOT_MALE,TOT_POP,WA_FEMALE,WA_MALE,YEAR
0,0,3,0,60,43,1,Autauga County,1001,9,2,...,0,1,Alabama,50,313,263,576,248,215,1
1,5,3,1,227,245,1,Autauga County,1001,22,18,...,0,1,Alabama,50,1208,1237,2445,954,971,1
2,4,4,2,327,352,1,Autauga County,1001,25,24,...,0,1,Alabama,50,1747,1875,3622,1389,1494,1
3,10,1,3,364,375,1,Autauga County,1001,31,34,...,0,1,Alabama,50,1785,1959,3744,1382,1553,1
4,4,5,4,359,359,1,Autauga County,1001,28,36,...,0,1,Alabama,50,1587,1679,3266,1195,1279,1

In [106]:
frame.columns

Index(['AA_FEMALE', 'AA_MALE', 'AGEGRP', 'BA_FEMALE', 'BA_MALE', 'COUNTY',
       'CTYNAME', 'FIPStxt', 'H_FEMALE', 'H_MALE', 'IA_FEMALE', 'IA_MALE',
       'NA_FEMALE', 'NA_MALE', 'STATE', 'STNAME', 'SUMLEV', 'TOT_FEMALE',
       'TOT_MALE', 'TOT_POP', 'WA_FEMALE', 'WA_MALE', 'YEAR'],
      dtype='object')

In [99]:
frame.describe()

,AA_FEMALE,AA_MALE,AGEGRP,BA_FEMALE,BA_MALE,COUNTY,FIPStxt,H_FEMALE,H_MALE,IA_FEMALE,...,NA_FEMALE,NA_MALE,STATE,SUMLEV,TOT_FEMALE,TOT_MALE,TOT_POP,WA_FEMALE,WA_MALE,YEAR
count,808600.000000,808600.000000,808600.000000,808600.000000,808600.000000,808600.000000,808600.000000,8.086000e+05,8.086000e+05,808600.000000,...,797160.000000,808600.000000,808600.000000,808600.0,8.086000e+05,8.086000e+05,8.086000e+05,8.086000e+05,8.086000e+05,808600.00000
mean,216.828412,199.877994,13.500000,639.634568,581.628556,104.523794,30339.395177,6.644273e+02,6.943470e+02,47.703720,...,9.073323,9.283475,30.236656,50.0,4.804482e+03,4.639043e+03,9.443525e+03,3.803211e+03,3.714976e+03,7.00000
std,4084.610909,3744.046152,20.328564,7116.858865,6096.757435,108.243831,15237.932899,1.243041e+04,1.256246e+04,480.056579,...,221.117224,222.610789,15.216347,0.0,3.712623e+04,3.581659e+04,7.292801e+04,2.721114e+04,2.687734e+04,3.74166
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1001.000000,0.000000e+00,0.000000e+00,0.000000,...,0.000000,0.000000,1.000000,50.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.00000
25%,0.000000,0.000000,4.750000,1.000000,1.000000,35.000000,18161.000000,3.000000e+00,3.000000e+00,1.000000,...,0.000000,0.000000,18.000000,50.0,2.670000e+02,2.430000e+02,5.160000e+02,2.240000e+02,2.070000e+02,4.00000
50%,3.000000,2.000000,9.500000,13.000000,16.000000,79.000000,29144.000000,1.300000e+01,1.500000e+01,3.000000,...,0.000000,0.000000,29.000000,50.0,6.760000e+02,6.500000e+02,1.327000e+03,5.840000e+02,5.600000e+02,7.00000
75%,16.000000,13.000000,14.250000,133.000000,136.000000,135.000000,46009.000000,7.700000e+01,8.900000e+01,14.000000,...,1.000000,1.000000,46.000000,50.0,1.983000e+03,1.921000e+03,3.904000e+03,1.732000e+03,1.672000e+03,10.00000
max,742379.000000,655624.000000,99.000000,773736.000000,649861.000000,840.000000,56045.000000,2.352273e+06,2.351770e+06,71383.000000,...,45901.000000,47083.000000,56.000000,50.0,4.983921e+06,4.846499e+06,9.830420e+06,3.590000e+06,3.595842e+06,13.00000

In [100]:
replace_values = { 1 : 2000, 2 : 2001, 3 : 2002 , 4 : 2003, 5 : 2004, 6 : 2005, 7 : 2006, 8 : 2007, 9 : 2008, 10 : 2009 , 11 : 2010, 12 : 2011 , 13 : 2012 }     
frame = frame.replace({"YEAR": replace_values})

In [101]:
frame['AGEGRP'] = frame['AGEGRP'].replace([99],"Total")
frame['AGEGRP'] = frame['AGEGRP'].replace([0,1,2,3,4],"Less than 19")
frame['AGEGRP'] = frame['AGEGRP'].replace([5,6,7,8],"20 to 39")
frame['AGEGRP'] = frame['AGEGRP'].replace([9,10,11,12],"40 to 59")
frame['AGEGRP'] = frame['AGEGRP'].replace([13,14,15,16,17,18],"Above 60")
frame.tail()

,AA_FEMALE,AA_MALE,AGEGRP,BA_FEMALE,BA_MALE,COUNTY,CTYNAME,FIPStxt,H_FEMALE,H_MALE,...,NA_MALE,STATE,STNAME,SUMLEV,TOT_FEMALE,TOT_MALE,TOT_POP,WA_FEMALE,WA_MALE,YEAR
808595,0,0,Above 60,0,0,45,Weston County,56045,1,0,...,0,56,Wyoming,50,157,127,284,157,126,2012
808596,0,0,Above 60,0,0,45,Weston County,56045,3,3,...,0,56,Wyoming,50,108,77,185,107,77,2012
808597,1,1,Above 60,0,0,45,Weston County,56045,1,2,...,0,56,Wyoming,50,74,86,160,73,84,2012
808598,1,0,Above 60,0,0,45,Weston County,56045,2,0,...,0,56,Wyoming,50,124,59,183,123,59,2012
808599,21,19,Total,14,21,45,Weston County,56045,96,125,...,2,56,Wyoming,50,3395,3787,7182,3269,3626,2012

In [102]:
years=[2000,2004,2008]
frame_year = frame[frame.YEAR.isin(years)]

In [103]:
frame_year.shape

(186600, 23)

In [104]:
frame_year.head()

,AA_FEMALE,AA_MALE,AGEGRP,BA_FEMALE,BA_MALE,COUNTY,CTYNAME,FIPStxt,H_FEMALE,H_MALE,...,NA_MALE,STATE,STNAME,SUMLEV,TOT_FEMALE,TOT_MALE,TOT_POP,WA_FEMALE,WA_MALE,YEAR
0,0,3,Less than 19,60,43,1,Autauga County,1001,9,2,...,0,1,Alabama,50,313,263,576,248,215,2000
1,5,3,Less than 19,227,245,1,Autauga County,1001,22,18,...,0,1,Alabama,50,1208,1237,2445,954,971,2000
2,4,4,Less than 19,327,352,1,Autauga County,1001,25,24,...,0,1,Alabama,50,1747,1875,3622,1389,1494,2000
3,10,1,Less than 19,364,375,1,Autauga County,1001,31,34,...,0,1,Alabama,50,1785,1959,3744,1382,1553,2000
4,4,5,Less than 19,359,359,1,Autauga County,1001,28,36,...,0,1,Alabama,50,1587,1679,3266,1195,1279,2000

In [107]:
frame_year.rename(columns={'FIPStxt':'FIPS'},inplace = True)
frame_year.columns

C:\Users\nerella\Anaconda3\lib\site-packages\pandas\core\frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

Index(['AA_FEMALE', 'AA_MALE', 'AGEGRP', 'BA_FEMALE', 'BA_MALE', 'COUNTY',
       'CTYNAME', 'FIPS', 'H_FEMALE', 'H_MALE', 'IA_FEMALE', 'IA_MALE',
       'NA_FEMALE', 'NA_MALE', 'STATE', 'STNAME', 'SUMLEV', 'TOT_FEMALE',
       'TOT_MALE', 'TOT_POP', 'WA_FEMALE', 'WA_MALE', 'YEAR'],
      dtype='object')

In [108]:
frame_year['ID'] = frame_year['YEAR'].map(str) + frame_year['FIPS'].map(str)

C:\Users\nerella\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [109]:
frame_year.head()

,AA_FEMALE,AA_MALE,AGEGRP,BA_FEMALE,BA_MALE,COUNTY,CTYNAME,FIPS,H_FEMALE,H_MALE,...,STATE,STNAME,SUMLEV,TOT_FEMALE,TOT_MALE,TOT_POP,WA_FEMALE,WA_MALE,YEAR,ID
0,0,3,Less than 19,60,43,1,Autauga County,1001,9,2,...,1,Alabama,50,313,263,576,248,215,2000,20001001
1,5,3,Less than 19,227,245,1,Autauga County,1001,22,18,...,1,Alabama,50,1208,1237,2445,954,971,2000,20001001
2,4,4,Less than 19,327,352,1,Autauga County,1001,25,24,...,1,Alabama,50,1747,1875,3622,1389,1494,2000,20001001
3,10,1,Less than 19,364,375,1,Autauga County,1001,31,34,...,1,Alabama,50,1785,1959,3744,1382,1553,2000,20001001
4,4,5,Less than 19,359,359,1,Autauga County,1001,28,36,...,1,Alabama,50,1587,1679,3266,1195,1279,2000,20001001

In [112]:
age=['Total']
df1 = frame_year[frame_year.AGEGRP.isin(age)]

In [113]:
df1.shape

(9330, 24)

In [114]:
df1

,AA_FEMALE,AA_MALE,AGEGRP,BA_FEMALE,BA_MALE,COUNTY,CTYNAME,FIPS,H_FEMALE,H_MALE,...,STATE,STNAME,SUMLEV,TOT_FEMALE,TOT_MALE,TOT_POP,WA_FEMALE,WA_MALE,YEAR,ID
19,146,63,Total,4040,3464,1,Autauga County,1001,278,333,...,1,Alabama,50,22499,21252,43751,18019,17456,2000,20001001
99,186,108,Total,4284,3805,1,Autauga County,1001,367,425,...,1,Alabama,50,24040,22760,46800,19207,18509,2004,20041001
179,253,151,Total,4888,4402,1,Autauga County,1001,547,616,...,1,Alabama,50,26937,25468,52405,21313,20471,2008,20081001
279,338,209,Total,7433,7089,3,Baldwin County,1003,1121,1345,...,1,Alabama,50,71568,68848,140416,62788,60529,2000,20001003
359,443,272,Total,7846,7389,3,Baldwin County,1003,1652,1997,...,1,Alabama,50,77307,74202,151509,67777,65249,2004,20041003
439,686,435,Total,8500,7976,3,Baldwin County,1003,2831,3293,...,1,Alabama,50,88231,84173,172404,77373,74128,2008,20081003
539,45,42,Total,6666,6803,5,Barbour County,1005,149,329,...,1,Alabama,50,14068,14974,29042,7239,7932,2000,20001005
619,50,52,Total,6470,6959,5,Barbour County,1005,308,470,...,1,Alabama,50,13573,15021,28594,6921,7799,2004,20041005
699,48,54,Total,6269,6788,5,Barbour County,1005,521,724,...,1,Alabama,50,13136,14621,27757,6664,7547,2008,20081005
799,11,6,Total,2038,1954,7,Bibb County,1007,86,120,...,1,Alabama,50,10068,9788,19856,7949,7753,2000,20001007
879,10,6,Total,2052,2640,7,Bibb County,1007,95,199,...,1,Alabama,50,10334,11065,21399,8192,8325,2004,20041007
959,10,13,Total,2002,2872,7,Bibb County,1007,97,254,...,1,Alabama,50,10589,11849,22438,8451,8830,2008,20081007
1059,55,27,Total,319,295,9,Blount County,1009,1111,1608,...,1,Alabama,50,25528,25454,50982,24806,24815,2000,20001009
1139,62,30,Total,435,397,9,Blount County,1009,1350,1819,...,1,Alabama,50,26849,26608,53457,25961,25812,2004,20041009
1219,73,40,Total,442,437,9,Blount County,1009,1767,2262,...,1,Alabama,50,28299,27941,56240,27337,27007,2008,20081009
1319,13,8,Total,4218,4292,11,Bullock County,1011,103,219,...,1,Alabama,50,5526,6077,11603,1246,1714,2000,20001011
1399,12,7,Total,3932,4174,11,Bullock County,1011,194,348,...,1,Alabama,50,5229,6087,11316,1220,1820,2004,20041011
1479,11,11,Total,3844,4043,11,Bullock County,1011,281,432,...,1,Alabama,50,5053,5958,11011,1100,1797,2008,20081011
1579,19,19,Total,4768,3966,13,Butler County,1013,69,74,...,1,Alabama,50,11378,10016,21394,6527,5978,2000,20001013
1659,39,41,Total,4712,3947,13,Butler County,1013,70,83,...,1,Alabama,50,11044,9789,20833,6217,5739,2004,20041013
1739,64,73,Total,4813,4128,13,Butler County,1013,82,97,...,1,Alabama,50,11040,9854,20894,6065,5560,2008,20081013
1839,406,249,Total,11316,9554,15,Calhoun County,1015,785,968,...,1,Alabama,50,58356,53526,111882,45916,43002,2000,20001015
1919,450,267,Total,11739,10000,15,Calhoun County,1015,1028,1210,...,1,Alabama,50,58568,54137,112705,45525,42992,2004,20041015
1999,509,330,Total,12679,10832,15,Calhoun County,1015,1483,1766,...,1,Alabama,50,60300,55911,116211,45968,43638,2008,20081015
2099,38,32,Total,7578,6388,17,Chambers County,1017,138,142,...,1,Alabama,50,19308,17292,36600,11568,10763,2000,20001017
2179,53,49,Total,7437,6380,17,Chambers County,1017,168,230,...,1,Alabama,50,18683,16997,35680,11042,10440,2004,20041017
2259,73,71,Total,7349,6256,17,Chambers County,1017,216,301,...,1,Alabama,50,18208,16639,34847,10611,10123,2008,20081017
2359,21,15,Total,692,640,19,Cherokee County,1019,95,106,...,1,Alabama,50,12154,11755,23909,11322,10976,2000,20001019
2439,23,15,Total,660,621,19,Cherokee County,1019,120,123,...,1,Alabama,50,12451,12140,24591,11621,11333,2004,20041019
2519,32,20,Total,618,634,19,Cherokee County,1019,150,146,...,1,Alabama,50,12875,12678,25553,12031,11801,2008,20081019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
806019,3,0,Total,2,1,27,Niobrara County,56027,11,25,...,56,Wyoming,50,1235,1175,2410,1217,1161,2000,200056027
806099,2,0,Total,2,1,27,Niobrara County,56027,15,25,...,56,Wyoming,50,1188,1092,2280,1171,1077,2004,200456027
806179,6,2,Total,4,2,27,Niobrara County,56027,25,21,...,56,Wyoming,50,1312,1095,2407,1265,1075,2008,200856027
806279,69,45,Total,5,19,29,Park County,56029,476,484,...,56,Wyoming,50,13223,12565,25788,12973,12339,2000,200056029
806359,76,49,Total,5,23,29,Park County,56029,520,509,...,56,Wyoming,50,13242,12746,25988,12951,12484,2004,200456029
806439,94,58,Total,12,43,29,Park County,56029,622,621,...,56,Wyoming,50,13761,13448,27209,13381,13102,2008,200856029
806539,10,9,Total,9,5,31,Platte County,56031,208,257,...,56,Wyoming,50,4454,4338,8792,4369,4260,2000,200056031
806619,13,7,Total,7,6,31,Platte County,56031,216,280,...,56,Wyoming,50,4362,4327,8689,4278,4252,2004,200456031
806699,18,13,Total,12,13,31,Platte County,56031,237,292,...,56,Wyoming,50,4320,4362,8682,4213,4272,2008,200856031
806799,64,39,Total,14,37,33,Sheridan County,56033,313,333,...,56,Wyoming,50,13560,13003,26563,13156,12617,2000,200056033
806879,76,45,Total,19,51,33,Sheridan County,56033,364,384,...,56,Wyoming,50,13683,13255,26938,13230,12803,2004,200456033
806959,95,63,Total,23,67,33,Sheridan County,56033,436,461,...,56,Wyoming,50,13939,13906,27845,13457,13379,2008,200856033
807059,7,8,Total,7,5,35,Sublette County,56035,49,63,...,56,Wyoming,50,2893,3020,5913,2842,2962,2000,200056035
807139,14,12,Total,8,10,35,Sublette County,56035,112,170,...,56,Wyoming,50,3161,3526,6687,3091,3438,2004,200456035
807219,23,21,Total,10,30,35,Sublette County,56035,183,290,...,56,Wyoming,50,4040,4760,8800,3924,4612,2008,200856035
807319,142,100,Total,132,157,37,Sweetwater County,56037,1772,1774,...,56,Wyoming,50,18590,19030,37620,17889,18322,2000,200056037
807399,173,117,Total,165,195,37,Sweetwater County,56037,1859,1972,...,56,Wyoming,50,18320,19130,37450,17534,18313,2004,200456037
807479,177,119,Total,190,261,37,Sweetwater County,56037,2500,2867,...,56,Wyoming,50,19924,21546,41470,19006,20555,2008,200856037
807579,62,59,Total,9,26,39,Teton County,56039,490,695,...,56,Wyoming,50,8517,9740,18257,8327,9522,2000,200056039
807659,81,69,Total,12,30,39,Teton County,56039,724,1054,...,56,Wyoming,50,8960,10106,19066,8722,9845,2004,200456039
807739,122,81,Total,17,40,39,Teton County,56039,1135,1405,...,56,Wyoming,50,9732,10740,20472,9387,10396,2008,200856039
807839,34,28,Total,10,12,41,Uinta County,56041,491,565,...,56,Wyoming,50,9689,10056,19745,9459,9816,2000,200056041
807919,34,24,Total,15,17,41,Uinta County,56041,553,646,...,56,Wyoming,50,9581,9899,19480,9309,9630,2004,200456041
807999,40,20,Total,25,29,41,Uinta County,56041,763,782,...,56,Wyoming,50,9971,10200,20171,9628,9883,2008,200856041
808099,29,32,Total,3,7,43,Washakie County,56043,467,483,...,56,Wyoming,50,4158,4134,8292,4049,4020,2000,200056043
808179,32,27,Total,3,8,43,Washakie County,56043,477,508,...,56,Wyoming,50,3965,4011,7976,3842,3889,2004,200456043
808259,31,24,Total,11,13,43,Washakie County,56043,537,509,...,56,Wyoming,50,4085,4084,8169,3924,3936,2008,200856043
808359,11,3,Total,3,5,45,Weston County,56045,63,74,...,56,Wyoming,50,3271,3372,6643,3180,3281,2000,200056045
808439,8,2,Total,3,7,45,Weston County,56045,74,87,...,56,Wyoming,50,3197,3413,6610,3108,3311,2004,200456045
808519,15,5,Total,6,15,45,Weston County,56045,81,113,...,56,Wyoming,50,3345,3688,7033,3234,3555,2008,200856045

In [115]:
df1.columns

Index(['AA_FEMALE', 'AA_MALE', 'AGEGRP', 'BA_FEMALE', 'BA_MALE', 'COUNTY',
       'CTYNAME', 'FIPS', 'H_FEMALE', 'H_MALE', 'IA_FEMALE', 'IA_MALE',
       'NA_FEMALE', 'NA_MALE', 'STATE', 'STNAME', 'SUMLEV', 'TOT_FEMALE',
       'TOT_MALE', 'TOT_POP', 'WA_FEMALE', 'WA_MALE', 'YEAR', 'ID'],
      dtype='object')

In [116]:
df2 = pd.read_csv('C:\\Users\\nerella\\Desktop\\Ahana Study Materials - 2020\\Capstone\\County Data 2000-2010\\Test Dataset\\other\\popcon_Total.csv')

In [117]:
df2.shape

(9426, 24)

In [118]:
df2.columns

Index(['ID', 'SUMLEV', 'STATE', 'COUNTY', 'FIPS', 'STNAME', 'CTYNAME',
       'AGEGRP', 'Year', 'TOT_POP', 'TOT_MALE', 'TOT_FEMALE', 'WA_MALE',
       'WA_FEMALE', 'BA_MALE', 'BA_FEMALE', 'IA_MALE', 'IA_FEMALE', 'AA_MALE',
       'AA_FEMALE', 'NA_MALE', 'NA_FEMALE', 'H_MALE', 'H_FEMALE'],
      dtype='object')

In [121]:
[col for col in df1.columns if col not in df2.columns]

['YEAR']

In [122]:
df2.rename(columns={'Year':'YEAR'},inplace = True)

In [123]:
demo_data = pd.concat([df1,df2])

In [124]:
demo_data.shape

(18756, 24)

In [125]:
election = pd.read_csv('C:\\Users\\nerella\\Desktop\\Ahana Study Materials - 2020\\Capstone\\County Data 2000-2010\\Test Dataset\\other\\merged_dataset_ellie.csv')

In [126]:
dataTypeObj = demo_data.dtypes['ID']
 
print('Data type of each column ID in the Dataframe :')
print(dataTypeObj)

Data type of each column ID in the Dataframe :
object

In [127]:
dataTypeObj = election.dtypes['ID']
 
print('Data type of each column ID in the Dataframe :')
print(dataTypeObj)

Data type of each column ID in the Dataframe :
object

In [129]:
demo_data["ID"] = demo_data["ID"].astype(str)
election["ID"] = election["ID"].astype(str)

In [130]:
data = pd.merge(demo_data,election, on='ID', how='left')
data.tail()

,AA_FEMALE,AA_MALE,AGEGRP,BA_FEMALE,BA_MALE,COUNTY,CTYNAME,FIPS,H_FEMALE,H_MALE,...,fips,fips_trimmed,republican_candidate,democrat_candidate,republican_votes,democrat_votes,county_totalvotes,winning candidate,winning party,avg_wage_salary
18751,207,151,Total,210,286,37,Sweetwater County,56037,3087,3581,...,56037.0,6037.0,Mitt Romney,Barack Obama,11428.0,4774.0,16895.0,Mitt Romney,republican,56903.0
18752,137,102,Total,19,41,39,Teton County,56039,1426,1754,...,56039.0,6039.0,Mitt Romney,Barack Obama,4858.0,6213.0,11464.0,Barack Obama,democrat,0.0
18753,48,24,Total,30,34,41,Uinta County,56041,902,955,...,56041.0,6041.0,Mitt Romney,Barack Obama,6615.0,1628.0,8539.0,Mitt Romney,republican,42827.0
18754,33,26,Total,11,13,43,Washakie County,56043,580,582,...,56043.0,6043.0,Mitt Romney,Barack Obama,3014.0,794.0,3944.0,Mitt Romney,republican,39233.0
18755,16,5,Total,7,15,45,Weston County,56045,98,127,...,56045.0,6045.0,Mitt Romney,Barack Obama,2821.0,422.0,3359.0,Mitt Romney,republican,37111.0

In [131]:
data.shape

(18756, 38)

In [134]:
data.nunique()

AA_FEMALE                3309
AA_MALE                  3184
AGEGRP                      1
BA_FEMALE                6241
BA_MALE                  6425
COUNTY                    326
CTYNAME                  1881
FIPS                     3145
H_FEMALE                 5481
H_MALE                   5774
IA_FEMALE                2485
IA_MALE                  2502
ID                      18534
NA_FEMALE                 846
NA_MALE                   865
STATE                      51
STNAME                     51
SUMLEV                      1
TOT_FEMALE              15192
TOT_MALE                15184
TOT_POP                 16839
WA_FEMALE               14849
WA_MALE                 14782
YEAR                        6
year                        5
state                      51
state_po                   51
county                   1812
fips                     3116
fips_trimmed             1188
republican_candidate        4
democrat_candidate          4
republican_votes        11056
democrat_votes           9784
county_totalvotes       12429
winning candidate           8
winning party               2
avg_wage_salary          7836
dtype: int64

In [149]:
data.drop(['SUMLEV','fips_trimmed'],axis=1)
data['AA_FEMALE%'] = data.apply(lambda row: row.AA_FEMALE/row.TOT_POP, axis = 1) 
data['AA_MALE%'] = data.apply(lambda row: row.AA_MALE/row.TOT_POP, axis = 1) 
data['BA_FEMALE%'] = data.apply(lambda row: row.BA_FEMALE/row.TOT_POP, axis = 1) 
data['BA_MALE%'] = data.apply(lambda row: row.BA_MALE/row.TOT_POP, axis = 1) 
data['H_FEMALE%'] = data.apply(lambda row: row.H_FEMALE/row.TOT_POP, axis = 1) 
data['H_MALE%'] = data.apply(lambda row: row.H_MALE/row.TOT_POP, axis = 1) 
data['IA_FEMALE%'] = data.apply(lambda row: row.IA_FEMALE/row.TOT_POP, axis = 1) 
data['IA_MALE%'] = data.apply(lambda row: row.IA_MALE/row.TOT_POP, axis = 1) 
data['NA_FEMALE%'] = data.apply(lambda row: row.NA_FEMALE/row.TOT_POP, axis = 1) 
data['NA_MALE%'] = data.apply(lambda row: row.NA_MALE/row.TOT_POP, axis = 1)
data['WA_FEMALE%'] = data.apply(lambda row: row.WA_FEMALE/row.TOT_POP, axis = 1) 
data['WA_MALE%'] = data.apply(lambda row: row.WA_MALE/row.TOT_POP, axis = 1) 
data['TOT_FEMALE%'] = data.apply(lambda row: row.TOT_FEMALE/row.TOT_POP, axis = 1) 
data['TOT_MALE%'] = data.apply(lambda row: row.TOT_MALE/row.TOT_POP, axis = 1)

In [150]:
data.to_csv('Totaldata.csv')