In [6]:
import pandas as pd

In [30]:
df = pd.read_csv('../../data/predictions_vs_adjusted_2016.csv')
electoral_df = pd.read_csv('../../data/states-fips-electoral.csv')

In [8]:
df

,Unnamed: 0,STATE_FIPS,STATE,WINNING_PARTY,PRED_WINNING_PARTY,PRED_DEM_VOTES,PRED_REP_VOTES,ADJUSTED_DEM_VOTES,ADJUSTED_REP_VOTES,ADJUSTED_WINNING_PARTY,WINNER_SHIFT
0,0,1,Alabama,1,1,969055,1127406,916643.475,1179817.525,1,NaN
1,1,2,Alaska,1,1,216755,239290,205353.875,250691.125,1,NaN
2,2,4,Arizona,1,0,1616743,789572,1556585.125,849729.875,0,NaN
3,3,5,Arkansas,1,1,454001,710259,424894.500,739365.500,1,NaN
4,4,6,California,0,0,10058342,4061414,9705348.100,4414407.900,0,NaN
5,5,8,Colorado,0,0,1282494,988758,1339275.300,931976.700,0,NaN
6,6,9,Connecticut,0,0,1092149,614594,1049480.425,657262.575,0,NaN
7,7,10,Delaware,0,0,266303,160484,255633.325,171153.675,0,NaN
8,8,11,District of Columbia,0,0,169442,98537,162742.525,105236.475,0,NaN
9,9,12,Florida,1,0,4474914,3702272,4679343.650,3497842.350,0,NaN
10,10,13,Georgia,1,0,2179993,2065789,2073848.450,2171933.550,1,DEM->REP
11,11,15,Hawaii,0,0,326803,191296,313850.525,204248.475,0,NaN
12,12,16,Idaho,1,1,259471,425842,242338.175,442974.825,1,NaN
13,13,17,Illinois,0,0,3346606,2101188,3210411.150,2237382.850,0,NaN
14,14,18,Indiana,1,1,1379768,1532594,1306958.950,1605403.050,1,NaN
15,15,19,Iowa,1,1,614413,812179,650077.800,776514.200,1,NaN
16,16,20,Kansas,1,1,537809,710069,506612.050,741265.950,1,NaN
17,17,21,Kentucky,1,1,842759,1079563,794700.950,1127621.050,1,NaN
18,18,22,Louisiana,1,1,813903,1009718,768312.475,1055308.525,1,NaN
19,19,23,Maine,0,0,383845,279086,367271.725,295659.275,0,NaN
20,20,24,Maryland,0,0,1513972,1200554,1446108.850,1268417.150,0,NaN
21,21,25,Massachusetts,0,0,2051615,1159959,1971325.650,1240248.350,0,NaN
22,22,26,Michigan,1,0,2591647,2036997,2707363.100,1921280.900,0,NaN
23,23,27,Minnesota,0,0,1284561,1251116,1347952.925,1187724.075,0,NaN
24,24,28,Mississippi,1,1,484020,646974,455745.150,675248.850,1,NaN
25,25,29,Missouri,1,1,1293128,1382188,1226245.100,1449070.900,1,NaN
26,26,30,Montana,1,1,185937,306588,173623.875,318901.125,1,NaN
27,27,31,Nebraska,1,1,370212,489317,348723.775,510805.225,1,NaN
28,28,32,Nevada,0,0,697714,407445,725342.975,379816.025,0,NaN
29,29,33,New Hampshire,0,0,415165,290697,432811.550,273050.450,0,NaN
30,30,34,New Jersey,0,0,2230001,1680751,2132232.200,1778519.800,0,NaN
31,31,35,New Mexico,0,0,364913,315823,347894.600,332841.400,0,NaN
32,32,36,New York,0,0,4857636,3422212,4650639.800,3629208.200,0,NaN
33,33,37,North Carolina,1,0,2144849,2137256,2251901.625,2030203.375,0,NaN
34,34,38,North Dakota,1,1,144712,238206,135139.050,247778.950,1,NaN
35,35,39,Ohio,1,0,2741897,2597810,2608404.325,2731302.675,1,DEM->REP
36,36,40,Oklahoma,1,1,517809,870404,483103.675,905109.325,1,NaN
37,37,41,Oregon,0,0,945687,763344,902961.225,806069.775,0,NaN
38,38,42,Pennsylvania,1,0,3151683,2780181,3299979.600,2631884.400,0,NaN
39,39,44,Rhode Island,0,0,306900,195729,294334.275,208294.725,0,NaN
40,40,45,South Carolina,1,1,881232,1155701,830308.675,1206624.325,1,NaN
41,41,46,South Dakota,1,1,166040,256735,155470.625,267304.375,1,NaN
42,42,47,Tennessee,1,1,1195372,1594791,1125617.925,1664545.075,1,NaN
43,43,48,Texas,1,0,4697324,4538784,4466421.300,4769686.700,1,DEM->REP
44,44,49,Utah,1,1,422523,489589,399720.200,512391.800,1,NaN
45,45,50,Vermont,0,0,160760,132221,153435.475,139545.525,0,NaN
46,46,51,Virginia,0,1,1806485,1942441,1900208.150,1848717.850,0,REP->DEM
47,47,53,Washington,0,0,1861962,1224183,1784808.375,1301336.625,0,NaN
48,48,54,West Virginia,1,1,305606,488367,285756.675,508216.325,1,NaN
49,49,55,Wisconsin,1,1,1287858,1341307,1222128.875,1407036.125,1,NaN
50,50,56,Wyoming,1,1,77644,133059,72376.425,138326.575,1,NaN

In [45]:
type(count)

numpy.int64

In [33]:
electoral_df

    Unnamed: 0                 STATE  COUNT  STATE_FIPS
0            0               Alabama      9           1
1            1                Alaska      3           2
2            2               Arizona     11           4
3            3              Arkansas      6           5
4            4            California     55           6
5            5              Colorado      9           8
6            6           Connecticut      7           9
7            7              Delaware      3          10
8            8  District of Columbia      3          11
9            9               Florida     29          12
10          10               Georgia     16          13
11          11                Hawaii      4          15
12          12                 Idaho      4          16
13          13              Illinois     20          17
14          14               Indiana     11          18
15          15                  Iowa      6          19
16          16                Kansas      6          20
17          17              Kentucky      8          21
18          18             Louisiana      8          22
19          19                 Maine      4          23
20          20              Maryland     10          24
21          21         Massachusetts     11          25
22          22              Michigan     16          26
23          23             Minnesota     10          27
24          24           Mississippi      6          28
25          25              Missouri     10          29
26          26               Montana      3          30
27          27              Nebraska      5          31
28          28                Nevada      6          32
29          29         New Hampshire      4          33
30          30            New Jersey     14          34
31          31            New Mexico      5          35
32          32              New York     29          36
33          33        North Carolina     15          37
34          34          North Dakota      3          38
35          35                  Ohio     18          39
36          36              Oklahoma      7          40
37          37                Oregon      7          41
38          38          Pennsylvania     20          42
39          39          Rhode Island      4          44
40          40        South Carolina      9          45
41          41          South Dakota      3          46
42          42             Tennessee     11          47
43          43                 Texas     38          48
44          44                  Utah      6          49
45          45               Vermont      3          50
46          46              Virginia     13          51
47          47            Washington     12          53
48          48         West Virginia      5          54
49          49             Wisconsin     10          55
50          50               Wyoming      3          56

In [52]:
""" calculate electoral votes and some before vs after stats"""
def print_summary(df):
    d_states_actual_count = 0
    d_states_predicted_count = 0
    d_states_adjusted_count = 0

    r_states_actual_count = 0
    r_states_predicted_count = 0
    r_states_adjusted_count = 0
    
    d_elect_actual_count = 0
    d_elect_predicted_count = 0
    d_elect_adjusted_count = 0

    r_elect_actual_count = 0
    r_elect_predicted_count = 0
    r_elect_adjusted_count = 0
    
    for index, row in df.iterrows():
        state_fips = row['STATE_FIPS']
        winner_predictions = row['PRED_WINNING_PARTY']
        winner_actual = row['WINNING_PARTY']
        winner_adjusted = row['ADJUSTED_WINNING_PARTY']
        
        electoral_votes = electoral_df.loc[electoral_df['STATE_FIPS'] == state_fips]['COUNT'].values[0]
        
        #predictions
        if winner_predictions == 0:
            d_states_predicted_count += 1
            d_elect_predicted_count += electoral_votes
        elif winner_predictions == 1:
            r_states_predicted_count += 1
            r_elect_predicted_count += electoral_votes
        
        #actuals
        if winner_actual == 0:
            d_states_actual_count += 1
            d_elect_actual_count += electoral_votes
        elif winner_actual == 1:
            r_states_actual_count += 1
            r_elect_actual_count += electoral_votes
        
        #adjustments
        if winner_adjusted == 0:
            d_states_adjusted_count += 1
            d_elect_adjusted_count += electoral_votes
        elif winner_adjusted == 1:
            r_states_adjusted_count += 1
            r_elect_adjusted_count += electoral_votes
            
    print('Dem States Count: ACTUAL {}      PREDICTION: {}      ADJUSTMENT: {}'.format(d_states_actual_count, d_states_predicted_count, d_states_adjusted_count))
    print('Rep States Count: ACTUAL {}      PREDICTION: {}      ADJUSTMENT: {}'.format(r_states_actual_count, r_states_predicted_count, r_states_adjusted_count))
    print()
    print('Dem States Electoral: ACTUAL {}      PREDICTION: {}      ADJUSTMENT: {}'.format(d_elect_actual_count, d_elect_predicted_count, d_elect_adjusted_count))
    print('Rep States Electoral: ACTUAL {}      PREDICTION: {}      ADJUSTMENT: {}'.format(r_elect_actual_count, r_elect_predicted_count, r_elect_adjusted_count))

In [53]:
print_summary(df)

Dem States Count: ACTUAL 21      PREDICTION: 28      ADJUSTMENT: 26
Rep States Count: ACTUAL 30      PREDICTION: 23      ADJUSTMENT: 25

Dem States Electoral: ACTUAL 233      PREDICTION: 383      ADJUSTMENT: 324
Rep States Electoral: ACTUAL 305      PREDICTION: 155      ADJUSTMENT: 214