In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('data/predictions_vs_actuals_2012.csv', index_col=0)

In [10]:
df.head()

,YEAR_FIPS,STATE_FIPS_x,COUNTY_FIPS_y,PRED_WINNING_PARTY_BINARY,WINNING_PARTY_BINARY,PRED_COUNTY_TOTALVOTES,COUNTY_TOTALVOTES
0,20121001,1,1,1,1,23353,23932.0
1,20121003,1,3,1,1,91026,85338.0
2,20121005,1,5,1,0,12718,11509.0
3,20121007,1,7,1,1,6986,8420.0
4,20121009,1,9,1,1,24475,24006.0

In [11]:
df = pd.read_csv('data/state_aggregated_0723.csv')

In [12]:
df.head()

,YEAR,STATE_FIPS,STATE,TOTAL_DEM_VOTES,TOTAL_REP_VOTES,TOTAL_VOTES,MARGIN_VICTORY,ABS_MARGIN_VICTORY,WINNING_PARTY,ELECTORAL_VOTES,TOP_TOPIC
0,2012,1,Alabama,"795,696","1,255,925","2,051,621",0.224325,0.224325,1,9,Economy
1,2012,2,Alaska,"142,458","192,750","335,208",0.150032,0.150032,1,3,Economy
2,2012,4,Arizona,"1,025,232","1,233,654","2,258,886",0.092268,0.092268,1,11,Economy
3,2012,5,Arkansas,"394,409","647,744","1,042,153",0.243088,0.243088,1,6,Economy
4,2012,6,California,"7,854,285","4,839,958","12,694,243",-0.237456,0.237456,0,55,Economy