In [1]:
import pandas as pd
from sklearn.metrics import accuracy_score

import warnings
warnings.filterwarnings('ignore')

In [2]:
df_12 = pd.read_csv('data/actuals_predictions_state_2012.csv', index_col=0)
df_16 = pd.read_csv('data/actuals_predictions_state_2016.csv', index_col=0)

In [3]:
df_12['TOP_TOPIC'].unique()

array(['Economy', 'Immigration', 'Healthcare'], dtype=object)

In [4]:
df_12.dtypes

STATE_FIPS              int64
PRED_DEM_VOTES          int64
PRED_REP_VOTES          int64
PRED_WINNING_PARTY      int64
STATE                  object
TOTAL_DEM_VOTES        object
TOTAL_REP_VOTES        object
TOTAL_VOTES            object
MARGIN_VICTORY        float64
ABS_MARGIN_VICTORY    float64
WINNING_PARTY           int64
ELECTORAL_VOTES         int64
TOP_TOPIC              object
dtype: object

In [5]:
df_12[["PRED_DEM_VOTES", "PRED_REP_VOTES"]] = df_12[["PRED_DEM_VOTES", "PRED_REP_VOTES"]].apply(pd.to_numeric)
df_16[["PRED_DEM_VOTES", "PRED_REP_VOTES"]] = df_16[["PRED_DEM_VOTES", "PRED_REP_VOTES"]].apply(pd.to_numeric)

df_12['PRED_TOTAL_VOTES'] = df_12['PRED_DEM_VOTES'] + df_12['PRED_REP_VOTES']
df_16['PRED_TOTAL_VOTES'] = df_16['PRED_DEM_VOTES'] + df_16['PRED_REP_VOTES']

In [6]:
def get_winner_by_topic_and_year(tp, yr):
    if tp == 'Economy':
        if yr == '2012':
            return 'r'
        if yr == '2016':
            return 'r'
    elif tp == 'Immigration':
        if yr == '2012':
            return 'd'
        if yr == '2016':
            return 'd'
    elif tp == 'Healthcare':
        if yr == '2012':
            return 'r'
        if yr == '2016':
            return 'd'

In [18]:
#TODO - Get the new winning margin

def adjust_weights_and_get_acc(df, weight, yr):

    df2 = df[['STATE_FIPS', 'STATE', 'WINNING_PARTY', 'PRED_WINNING_PARTY', 'PRED_DEM_VOTES', 'PRED_REP_VOTES']]
    
    acc_before = accuracy_score(df2['WINNING_PARTY'], df2['PRED_WINNING_PARTY'])

    for idx, row in df.iterrows():
        dem_votes = 0
        rep_votes = 0

        if get_winner_by_topic_and_year(row['TOP_TOPIC'], yr) == 'd':
            dem_votes = row['PRED_DEM_VOTES'] + (row['PRED_TOTAL_VOTES'] * weight)
            rep_votes = row['PRED_REP_VOTES'] - (row['PRED_TOTAL_VOTES'] * weight)
        else:
            dem_votes = row['PRED_DEM_VOTES'] - (row['PRED_TOTAL_VOTES'] * weight)
            rep_votes = row['PRED_REP_VOTES'] + (row['PRED_TOTAL_VOTES'] * weight)

        df2.loc[idx,'ADJUSTED_DEM_VOTES'] = dem_votes
        df2.loc[idx,'ADJUSTED_REP_VOTES'] = rep_votes
            
        if dem_votes > rep_votes and row['PRED_WINNING_PARTY'] == 1:
            print('rep->dem', row['STATE'])
            df2.loc[idx,'ADJUSTED_WINNING_PARTY'] = 0
            df2.loc[idx,'WINNER_SHIFT'] = 'REP->DEM'
        elif dem_votes < rep_votes and row['PRED_WINNING_PARTY'] == 0:
            print('dem->rep', row['STATE'])
            df2.loc[idx,'ADJUSTED_WINNING_PARTY'] = 1
            df2.loc[idx,'WINNER_SHIFT'] = 'DEM->REP'
        else:
            df2.loc[idx,'ADJUSTED_WINNING_PARTY'] = row['PRED_WINNING_PARTY']
 
    acc_after = accuracy_score(df2['WINNING_PARTY'], df2['ADJUSTED_WINNING_PARTY'])
    
    return acc_before, acc_after, df2

In [24]:
start = 0.025
acc_before, acc_after, data = adjust_weights_and_get_acc(df_12, start, '2012')
print(acc_before, acc_after)
data.head(50)

data.to_csv('data/predictions_vs_adjusted_2012.csv')

#for factor in range(100):
    
#    ab, af = adjust_weights_and_get_acc(df_12, start)
#    start = start + 0.0013
    
   # print(af - ab)

#adjust_weights_and_get_acc(df_12)

dem->rep Alaska
dem->rep Ohio
dem->rep Oregon
dem->rep Texas
0.8823529411764706 0.8823529411764706

In [25]:

acc_before, acc_after, data = adjust_weights_and_get_acc(df_16, start, '2016')
print(acc_before, acc_after)
data.to_csv('data/predictions_vs_adjusted_2016.csv')
data.head(50)

dem->rep Georgia
dem->rep Ohio
dem->rep Texas
rep->dem Virginia
0.8235294117647058 0.9019607843137255

,STATE_FIPS,STATE,WINNING_PARTY,PRED_WINNING_PARTY,PRED_DEM_VOTES,PRED_REP_VOTES,ADJUSTED_DEM_VOTES,ADJUSTED_REP_VOTES,ADJUSTED_WINNING_PARTY,WINNER_SHIFT
0,1,Alabama,1,1,969055,1127406,916643.475,1179817.525,1.0,NaN
1,2,Alaska,1,1,216755,239290,205353.875,250691.125,1.0,NaN
2,4,Arizona,1,0,1616743,789572,1556585.125,849729.875,0.0,NaN
3,5,Arkansas,1,1,454001,710259,424894.500,739365.500,1.0,NaN
4,6,California,0,0,10058342,4061414,9705348.100,4414407.900,0.0,NaN
5,8,Colorado,0,0,1282494,988758,1339275.300,931976.700,0.0,NaN
6,9,Connecticut,0,0,1092149,614594,1049480.425,657262.575,0.0,NaN
7,10,Delaware,0,0,266303,160484,255633.325,171153.675,0.0,NaN
8,11,District of Columbia,0,0,169442,98537,162742.525,105236.475,0.0,NaN
9,12,Florida,1,0,4474914,3702272,4679343.650,3497842.350,0.0,NaN
10,13,Georgia,1,0,2179993,2065789,2073848.450,2171933.550,1.0,DEM->REP
11,15,Hawaii,0,0,326803,191296,313850.525,204248.475,0.0,NaN
12,16,Idaho,1,1,259471,425842,242338.175,442974.825,1.0,NaN
13,17,Illinois,0,0,3346606,2101188,3210411.150,2237382.850,0.0,NaN
14,18,Indiana,1,1,1379768,1532594,1306958.950,1605403.050,1.0,NaN
15,19,Iowa,1,1,614413,812179,650077.800,776514.200,1.0,NaN
16,20,Kansas,1,1,537809,710069,506612.050,741265.950,1.0,NaN
17,21,Kentucky,1,1,842759,1079563,794700.950,1127621.050,1.0,NaN
18,22,Louisiana,1,1,813903,1009718,768312.475,1055308.525,1.0,NaN
19,23,Maine,0,0,383845,279086,367271.725,295659.275,0.0,NaN
20,24,Maryland,0,0,1513972,1200554,1446108.850,1268417.150,0.0,NaN
21,25,Massachusetts,0,0,2051615,1159959,1971325.650,1240248.350,0.0,NaN
22,26,Michigan,1,0,2591647,2036997,2707363.100,1921280.900,0.0,NaN
23,27,Minnesota,0,0,1284561,1251116,1347952.925,1187724.075,0.0,NaN
24,28,Mississippi,1,1,484020,646974,455745.150,675248.850,1.0,NaN
25,29,Missouri,1,1,1293128,1382188,1226245.100,1449070.900,1.0,NaN
26,30,Montana,1,1,185937,306588,173623.875,318901.125,1.0,NaN
27,31,Nebraska,1,1,370212,489317,348723.775,510805.225,1.0,NaN
28,32,Nevada,0,0,697714,407445,725342.975,379816.025,0.0,NaN
29,33,New Hampshire,0,0,415165,290697,432811.550,273050.450,0.0,NaN
30,34,New Jersey,0,0,2230001,1680751,2132232.200,1778519.800,0.0,NaN
31,35,New Mexico,0,0,364913,315823,347894.600,332841.400,0.0,NaN
32,36,New York,0,0,4857636,3422212,4650639.800,3629208.200,0.0,NaN
33,37,North Carolina,1,0,2144849,2137256,2251901.625,2030203.375,0.0,NaN
34,38,North Dakota,1,1,144712,238206,135139.050,247778.950,1.0,NaN
35,39,Ohio,1,0,2741897,2597810,2608404.325,2731302.675,1.0,DEM->REP
36,40,Oklahoma,1,1,517809,870404,483103.675,905109.325,1.0,NaN
37,41,Oregon,0,0,945687,763344,902961.225,806069.775,0.0,NaN
38,42,Pennsylvania,1,0,3151683,2780181,3299979.600,2631884.400,0.0,NaN
39,44,Rhode Island,0,0,306900,195729,294334.275,208294.725,0.0,NaN
40,45,South Carolina,1,1,881232,1155701,830308.675,1206624.325,1.0,NaN
41,46,South Dakota,1,1,166040,256735,155470.625,267304.375,1.0,NaN
42,47,Tennessee,1,1,1195372,1594791,1125617.925,1664545.075,1.0,NaN
43,48,Texas,1,0,4697324,4538784,4466421.300,4769686.700,1.0,DEM->REP
44,49,Utah,1,1,422523,489589,399720.200,512391.800,1.0,NaN
45,50,Vermont,0,0,160760,132221,153435.475,139545.525,0.0,NaN
46,51,Virginia,0,1,1806485,1942441,1900208.150,1848717.850,0.0,REP->DEM
47,53,Washington,0,0,1861962,1224183,1784808.375,1301336.625,0.0,NaN
48,54,West Virginia,1,1,305606,488367,285756.675,508216.325,1.0,NaN
49,55,Wisconsin,1,1,1287858,1341307,1222128.875,1407036.125,1.0,NaN